<div id="chat" class="panel">
    <div id="chat-panel-messages" class="panel-messages">
        {% for message in messages %}
        {% if message.role == 'user' %}
        <div class="chat-bubble-area-user">
            <div class="chat-bubble-user">
                <span>{{ message.content | safe }}</span>
            </div>
            <div class="chat-bubble-timestamp">Created: {{ message.time }} Status: {{ message.status }}</div>
        </div>
        {% elif message.role == 'tool' %}
        <div class="chat-bubble-area-tool" onclick="toggleContent(this)">
            <div class="chat-bubble-tool" style="display: none;">
                <span>{{ message.content | safe }}</span>
            </div>
            <div class="show-work-button">Show work...</div>
            <div class="chat-bubble-timestamp">Created: {{ message.time }} Status: {{ message.status }}</div>
        </div>
        {% else %}
        <div class="chat-bubble-area-ai">
            <div class="chat-bubble-ai">
                <span>{{ message.content | safe }}</span>
            </div>
            <div class="chat-bubble-timestamp">Created: {{ message.time }} Status: {{ message.status }}</div>
        </div>
        {% endif %}
        {% endfor %}

        <script>
            function toggleContent(element) {
                var contentDiv = element.querySelector('.chat-bubble-tool');
                var buttonDiv = element.querySelector('.show-work-button');
                if (contentDiv.style.display === 'none') {
                    contentDiv.style.display = 'block';
                    buttonDiv.textContent = 'Hide work...';
                } else {
                    contentDiv.style.display = 'none';
                    buttonDiv.textContent = 'Show work...';
                }
            }
        </script>
    </div>
    {% set last = messages|last %}
    {% if last.status == 'Pending' %}
    <script>
        document.getElementById('typing-indicator').style.display = 'flex';
        document.getElementById('chat-input').style.display = 'none';
        document.getElementById('send-message').style.display = 'none';
    </script>
    {% else %}
    <script>
        document.getElementById('typing-indicator').style.display = 'none';
        document.getElementById('chat-input').style.display = 'flex';
        document.getElementById('send-message').style.display = 'flex';
    </script>
    {% endif %}
    <script>
        var messageInput = document.getElementById('chat-input');

        messageInput.addEventListener('keydown', function (event) {
            // Check if the Enter key was pressed without the Shift key
            if (event.key === 'Enter') {
                // Prevent the form from being submitted
                event.preventDefault();
                // Insert a newline at the current cursor position
                var start = this.selectionStart;
                var end = this.selectionEnd;

                // Set textarea value to: text before caret + newline + text after caret
                this.value = this.value.substring(0, start) + "\n" + this.value.substring(end);

                // Move the caret to right after the inserted newline
                this.selectionStart = this.selectionEnd = start + 1;

                // expand the chat box by a line height
                this.rows = this.rows + 1;

                var chat = document.getElementById('chat');
                chat.scrollTop = chat.scrollHeight;

            }
        });

    </script>
    <script>
        var chat = document.getElementById('chat');
        chat.scrollTop = chat.scrollHeight;

        document.getElementById('chat-heading').innerHTML = '&#x21bb; Science Discussion &#x21bb;';
        setTimeout(() => {
            document.getElementById('chat-heading').innerHTML = 'Science Discussion';
        }, 500);
    </script>
</div>